@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    display: none;
}

@media (max-width:900px) {
    .col900{
        flex-direction: column;
    }
    .flex-adj{
        flex: 10;
    }
}